.result-container {
  width: 920px;
  text-align: center;
  margin: 2rem auto 2rem auto;
  background-color: #e8d5b5;
  color: #663399;
  padding: 2rem;
  border-radius: 1rem;
}

.result-container h1 {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1100px) {
  .result-container {
    width: 80vw;
  }

  .result-container h1 {
    font-size: 5vw;
  }
}
