.container {
  width: 920px;
  margin: auto;
  background-color: #663399;
  color: #e8d5b5;
  backdrop-filter: blur(20px);
  border-radius: 1rem;
}

.container h1 {
  color: #e8d5b5;
  padding: 3rem;
  margin: 0;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons button {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #663399;
  color: #e8d5b5;
  border: none;
  border-top: 2px solid #e8d5b5;
  transition-duration: 0.2s;
}

.buttons button:hover {
  background-color: #7da9c3;
  color: #663399;
}

.buttons .generate-button {
  background-color: #e8d5b5;
  color: #663399;
}

.result {
  text-align: center;
  margin: 3rem;
}

@media only screen and (max-width: 1100px) {
  .container {
    width: 80vw;
  }

  .container h1 {
    font-size: 5vw;
  }

  .buttons {
    flex-direction: column;
  }
}
